/** CSS for register.ctp page */
.formField{
	position: relative;
	clear: both;
}
.formFieldSubmit{
	position: relative;
	float: right;
	height: 50px;
}
.inputStyle{
	margin: 15px 10px 0px 10px;
	font-size: 15px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #dfd0ab;
	font-weight: bold;
}
.inputTitle{
	width: 610px;
	height: 25px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	border: 1px solid #603d0f;
}
.inputTextArea{
	width: 610px;
	height: 400px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	border: 1px solid #603d0f;	
}
