/** Default CSS File for the Home Page */
#containerContentLeft{
	position: relative;
	width: 602px;
	float: left;
	margin-left:20px;
	background-image: url(../../img/layouts/default/elements/content_left_shadow.png);
	background-position: top;
	background-repeat: repeat-y;
}
#containerContentRight{
	position: relative;
	height: auto;
	width: 310px;
	float: left;
}
#containerContentBackground{
	width: 908px;
	height: 400px;
	position: absolute;
	margin-left: 20px;
	z-index: 0;
	background-image: url(../../img/layouts/default/elements/content_background.png);
	float: left;
	left: -3px;
}
.containerOneThird{
	float: left;
	width: 305px;
	height: auto;
	position: relative;
	margin-bottom: 10px;
}
.containerOneThirdBanner{
	float: left;
	width: 265px;
	height: auto;
	margin-top: 10px;
	position: relative;
	border: 1px solid #54473d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 5px;
}
.bannerTitle{
	font-size: 11px;
	font-weight: bold;
	color: #dfd0ab;
}
.containerTwoThirds{
	float: left;
	width: 584px;
	height: auto;
	position: relative;
}
#bannerRightBorder{
	width: 18px;
	height: 400px;
	background-image: url(../../img/layouts/default/elements/content_left_shadow.png);
	float: left;
	position: relative;
	margin-top: 10px;
}
#bottomSpacer{
	position: relative;
	width: 948px;
	height: 130px;
	float: left;
	position: relative;
	background-image: url(../../img/layouts/default/elements/content_background_footer.png);
	left: -3px;
}

.forumPostsTitle{
	font-size: 16px;
	font-weight: bold;
	color: #dfd0ab;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
.forumPostsBorderThick{
	height: 2px;
	width: 280px;
	background: #989283;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
	opacity: .3;
}
.forumPost{
	height: 40px;
	width: 270px;
	border-bottom: 1px solid #989283;
	float: left;
	color: #dfd0ab;
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 10px;
}
.forumPostTopic{
	font-size: 13px;
}
.forumPostDetail{
	font-size: 11px;
}
.categoryContainer{
	position: relative;
	width: 584px;
	min-height: 150px;
	background-image: url(../../img/layouts/default/elements/news_background.png);
	margin-bottom: 3px;
	float: left;
	z-index: 1;
	line-height: 20px;
}
.categoryContainer ul{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
	line-height: 20px;
	
}
.categorySpacer{
	width: 564px;
	padding: 10px;
	z-index: 2;
}
.categoryContainerBackgroundTop{
	position: absolute;
	width: 584px;
	height: 50px;
	background-image: url(../../img/layouts/default/elements/news_background_top.png);
	top: 0px;
	left: 0px;
	z-index: -1;
}
.categoryContainerBackgroundBottom{
	position: absolute;
	width: 584px;
	height: 50px;
	background-image: url(../../img/layouts/default/elements/news_background_bottom.png);
	bottom: 0px;
	z-index: -1;
	left: 0px;
}
.categoryHeader{
	width: 584px;
	height: 20px;
	float: left;
}
.categoryTitle{
	font-size: 16px;
	font-weight: bold;
	color: #dfd0ab;
	float: left;
}
.categoryControls{
	float: right;
	height: 30px;
	margin-bottom: 10px;
}
.forumPoster{
	font-size: 11px;
	color: #dfd0ab;
	clear: both;
}
.categoryBody{
	margin-top: 25px;
	float: left;
	color: #dfd0ab;
	width: 564px;
}
.categoryImage{
	margin-top: 40px;
	float: left;
	width: 140px;
	height: 100px;
	border: 1px solid black;
}
.categoryArchiveContainer{
	position: relative;
	width: 584px;
	min-height: 100px;
	background-image: url(../../img/layouts/default/elements/news_background.png);
	margin-bottom: 3px;
	float: left;
	z-index: 1
}
.categoryArchiveSpacer{
	position: relative;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	top: 25px;
	z-index: 2;
