#CTopicContainerContentBackground{
	width: 908px;
	height: 400px;
	position: absolute;
	margin-left: 20px;
	z-index: 0;
	background-image: url(../../img/layouts/default/elements/content_background.png);
	float: left;
	left: -3px;
}
#CTopicContentContainer{
	position: relative;
	width: 908px;
	height: 600px;
	z-index: 1;
	float: left;
	left: -3px;
}
#CTopicBottomSpacer{
	position: relative;
	width: 948px;
	height: 128px;
	float: left;
	position: relative;
	background-image: url(../../img/layouts/default/elements/content_background_footer.png);
	left: -3px;
}
#CTopicContainer{
	position: relative;
	width: 902px;
	float: left;
	left: 20px;
	z-index: 2;
	background: #100905;
	min-height: 600px;
}
#CTopicBackgroundTop{
	position: absolute;
	width: 902px;
	height: 120px;
	top: 0px;
	left: 0px;
	background-image: url(../../img/layouts/default/elements/forum_background_top.png);
	z-index: -1;
}
#CTopicLeftColumn{
	position: relative;
	float: left;
	width: 210px;
	min-height: 400px;
	margin-top: 30px;
}
#CTopicRightColumn{
	position: relative;
	float: left;
	width: 692px;
	margin-top: 10px;
}
