#profileContainerContentBackground{
	width: 908px;
	height: 400px;
	position: absolute;
	margin-left: 20px;
	z-index: 0;
	background-image: url(../../img/layouts/default/elements/content_background.png);
	float: left;
	left: -3px;
}
#profileContentContainer{
	position: relative;
	width: 908px;
	height: 600px;
	z-index: 1;
	float: left;
	left: -3px;
}
#profileBottomSpacer{
	position: relative;
	width: 948px;
	height: 128px;
	float: left;
	position: relative;
	background-image: url(../../img/layouts/default/elements/content_background_footer.png);
	left: -3px;
}
#profileContainer{
	position: relative;
	width: 902px;
	float: left;
	left: 20px;
	z-index: 2;
	background: #100905;
}
#profileBackgroundTop{
	position: absolute;
	width: 902px;
	height: 120px;
	top: 0px;
	left: 0px;
	background-image: url(../../img/layouts/default/elements/forum_background_top.png);
	z-index: -1;
}
#profileLeftColumn{
	position: relative;
	float: left;
	width: 190px;
	min-height: 400px;
	background-image: url(../../img/user_profiles/profile_navigation_repeat.png);
	margin-top: 30px;
}
#profileLeftColumnBottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 190px;
	height: 150px;
	background-image: url(../../img/user_profiles/profile_navigation_bottom.png);
}
#profileRightColumn{
	position: relative;
	float: left;
	width: 692px;
	margin-top: 30px;
	height: 100%;
}
.profileRightColumnContentTransparent{
	position: relative;
	float: left;
	width: 692px;
	min-height: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.profileRightColumnContentBg{
	position: relative;
	float: left;
	width: 690px;
	margin-bottom: 10px;
	background-image: url(../../img/user_profiles/content_box_repeat.png);
	background-position-x: -1px;
	min-height: 50px;
	z-index: 1;
}
.profileRightColumnContentBgTop{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 692px;
	background-image: url(../../img/user_profiles/content_box_top.png);
	z-index: -1;
}
.profileRightColumnContentBgBottom{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 36px;
	width: 692px;
	background-image: url(../../img/user_profiles/content_box_bottom.png);
	z-index: -1;
}
.profileUserInfoContainer{
	position: relative;
	float: left;
	height: 50px;
	min-width: 50px;
}
.profileUserInfoText{
	position: relative;
	clear: both;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #dfd0ab;
}
#profileUserAvatar{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
}
#profilePortalLogo{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	width: 160px;
	height: 110px;
	background-image: url(../../img/user_profiles/portal_logo.png);
}
#profileNavigationButton{
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 160px;
	height: 30px;
}
#profileEditButton{
	position: relative;
	float: right;
}
.profileInputContainerStyle{
	color: #dfd0ab;
	font-size: 10px;
}
.profileInputStyle{
	text-indent: 5px;
}
.profileSubmitButton{
	margin-left: 15px;
	margin-right: 15px;
}
.profileFormField{
	float: left;
	margin-bottom: 15px;
	margin-left: 10px;
}
.profileGroupContainer{
	width: 692px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #472001;
}
.profileGroupHeader{
	font-size: 12px;
	font-weight: bold;
	color: #dfd0ab;
	margin-left: 5px;
	float: left;
}
